In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = 'Apex_Game_History_Season15S1.csv'

In [3]:
df = pd.read_csv('Apex_Game_History_Season15S1.csv')

In [4]:
df.head()

,date,game,map,match_type,my_duration,my_rank,rp_earned,premade_squad,voice_chat,squad_placed,...,teamate_1_knocks,teamate_2_knocks,my_revives,teamate_1_revives,teamate_2_revives,my_respawns,teamate_1_respawns,teamate_2_respawns,Unnamed: 34,Unnamed: 35
0,11/03/2022,1,broken moon,casual,846.0,S3,0.0,no,yes,5.0,...,4.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN
1,11/03/2022,2,broken moon,casual,NaN,S3,0.0,no,yes,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,11/03/2022,3,broken moon,casual,NaN,S3,0.0,no,no,3.0,...,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,11/03/2022,4,broken moon,casual,NaN,S3,0.0,no,no,4.0,...,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,11/03/2022,5,broken moon,casual,NaN,S3,0.0,no,no,8.0,...,2.0,3.0,0.0,1.0,0.0,0.0,0.0,1.0,NaN,NaN

In [9]:
df.describe()

,game,my_duration,rp_earned,squad_placed,teamate_count,my_quit,teamate_quit_count,my_damage,teamate_1_damage,teamate_2_damage,...,teamate_1_knocks,teamate_2_knocks,my_revives,teamate_1_revives,teamate_2_revives,my_respawns,teamate_1_respawns,teamate_2_respawns,Unnamed: 34,Unnamed: 35
count,499.000000,265.000000,487.000000,475.000000,314.000000,317.000000,306.000000,284.000000,275.000000,270.000000,...,278.000000,273.000000,283.000000,277.000000,274.000000,283.000000,276.000000,275.000000,0.0,0.0
mean,250.000000,592.305660,12.254620,10.212632,1.964968,0.041009,0.071895,471.482394,464.152727,483.455556,...,1.352518,1.362637,0.204947,0.241877,0.244526,0.141343,0.057971,0.054545,NaN,NaN
std,144.193157,393.549428,86.973583,5.732343,0.216084,0.198626,0.315804,429.318800,444.317929,478.563064,...,1.666676,1.650645,0.491463,0.534309,0.607091,0.430842,0.249162,0.243018,NaN,NaN
min,1.000000,46.000000,-55.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,125.500000,228.000000,-44.500000,5.000000,2.000000,0.000000,0.000000,150.750000,143.500000,148.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,250.000000,498.000000,-25.000000,11.000000,2.000000,0.000000,0.000000,330.500000,316.000000,316.500000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,374.500000,943.000000,28.000000,15.000000,2.000000,0.000000,0.000000,635.750000,666.000000,667.500000,...,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
max,499.000000,1349.000000,401.000000,20.000000,2.000000,1.000000,2.000000,2426.000000,2180.000000,2590.000000,...,10.000000,10.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,NaN,NaN

In [11]:
df.shape

(499, 36)

In [13]:
df.dtypes

date                   object
game                    int64
map                    object
match_type             object
my_duration           float64
my_rank                object
rp_earned             float64
premade_squad          object
voice_chat             object
squad_placed          float64
teamate_count         float64
my_quit               float64
teamate_quit_count    float64
my_legend              object
teamate_1_legend       object
teamate_2_legend       object
my_damage             float64
teamate_1_damage      float64
teamate_2_damage      float64
my_kills              float64
teamate_1_kills       float64
teamate_2_kills       float64
my_assists            float64
teamate_1_assists     float64
teamate_2_assists     float64
my_knocks             float64
teamate_1_knocks      float64
teamate_2_knocks      float64
my_revives            float64
teamate_1_revives     float64
teamate_2_revives     float64
my_respawns           float64
teamate_1_respawns    float64
teamate_2_respawns    float64
Unnamed: 34           float64
Unnamed: 35           float64
dtype: object

In [15]:
df.describe(include='all')

,date,game,map,match_type,my_duration,my_rank,rp_earned,premade_squad,voice_chat,squad_placed,...,teamate_1_knocks,teamate_2_knocks,my_revives,teamate_1_revives,teamate_2_revives,my_respawns,teamate_1_respawns,teamate_2_respawns,Unnamed: 34,Unnamed: 35
count,499,499.000000,499,499,265.000000,498,487.000000,497,497,475.000000,...,278.000000,273.000000,283.000000,277.000000,274.000000,283.000000,276.000000,275.000000,0.0,0.0
unique,32,NaN,4,4,NaN,11,NaN,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1/13/2023,NaN,broken moon,ranked,NaN,P2,NaN,no,no,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,39,NaN,482,451,NaN,107,NaN,462,338,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,250.000000,NaN,NaN,592.305660,NaN,12.254620,NaN,NaN,10.212632,...,1.352518,1.362637,0.204947,0.241877,0.244526,0.141343,0.057971,0.054545,NaN,NaN
std,NaN,144.193157,NaN,NaN,393.549428,NaN,86.973583,NaN,NaN,5.732343,...,1.666676,1.650645,0.491463,0.534309,0.607091,0.430842,0.249162,0.243018,NaN,NaN
min,NaN,1.000000,NaN,NaN,46.000000,NaN,-55.000000,NaN,NaN,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,NaN,125.500000,NaN,NaN,228.000000,NaN,-44.500000,NaN,NaN,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,NaN,250.000000,NaN,NaN,498.000000,NaN,-25.000000,NaN,NaN,11.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,NaN,374.500000,NaN,NaN,943.000000,NaN,28.000000,NaN,NaN,15.000000,...,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
max,NaN,499.000000,NaN,NaN,1349.000000,NaN,401.000000,NaN,NaN,20.000000,...,10.000000,10.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,NaN,NaN

In [45]:
df.info

<bound method DataFrame.info of            date  game          map match_type  my_duration my_rank  rp_earned  \
0    11/03/2022     1  broken moon     casual        846.0      S3        0.0
1    11/03/2022     2  broken moon     casual          0.0      S3        0.0
2    11/03/2022     3  broken moon     casual          0.0      S3        0.0
3    11/03/2022     4  broken moon     casual          0.0      S3        0.0
4    11/03/2022     5  broken moon     casual          0.0      S3        0.0
..          ...   ...          ...        ...          ...     ...        ...
494   1/15/2023   495  broken moon     ranked        958.0      P1       28.0
495   1/15/2023   496  broken moon     ranked       1300.0      P1      112.0
496   1/15/2023   497  broken moon     ranked       1022.0      P1      125.0
497   1/15/2023   498  broken moon     ranked         81.0      P1      -55.0
498   1/15/2023   499  broken moon     ranked       1187.0      P1       55.0

    premade_squad voice_chat  squad_placed  ...  my_knocks  teamate_1_knocks  \
0              no        yes           5.0  ...        5.0               4.0
1              no        yes          12.0  ...        0.0               0.0
2              no         no           3.0  ...        0.0               2.0
3              no         no           4.0  ...        0.0               3.0
4              no         no           8.0  ...        2.0               2.0
..            ...        ...           ...  ...        ...               ...
494            no         no           3.0  ...        0.0               0.0
495            no         no           2.0  ...        1.0               0.0
496            no         no           3.0  ...        3.0               0.0
497            no         no          18.0  ...        0.0               0.0
498            no         no           3.0  ...        1.0               1.0

     teamate_2_knocks my_revives teamate_1_revives teamate_2_revives  \
0                 0.0        1.0               0.0               0.0
1                 0.0        0.0               0.0               0.0
2                 2.0        0.0               0.0               0.0
3                 1.0        0.0               0.0               0.0
4                 3.0        0.0               1.0               0.0
..                ...        ...               ...               ...
494               1.0        0.0               0.0               0.0
495               3.0        0.0               0.0               0.0
496               4.0        1.0               0.0               0.0
497               0.0        0.0               0.0               0.0
498               2.0        0.0               0.0               2.0

     my_respawns  teamate_1_respawns  teamate_2_respawns  duration_missing
0            1.0                 1.0                 0.0                 0
1            0.0                 0.0                 0.0                 1
2            0.0                 0.0                 0.0                 1
3            0.0                 0.0                 0.0                 1
4            0.0                 0.0                 1.0                 1
..           ...                 ...                 ...               ...
494          0.0                 0.0                 0.0                 0
495          0.0                 0.0                 0.0                 0
496          2.0                 0.0                 0.0                 0
497          0.0                 0.0                 0.0                 0
498          0.0                 1.0                 0.0                 0

[499 rows x 35 columns]>

In [19]:
df.isnull().sum()

date                    0
game                    0
map                     0
match_type              0
my_duration           234
my_rank                 1
rp_earned              12
premade_squad           2
voice_chat              2
squad_placed           24
teamate_count         185
my_quit               182
teamate_quit_count    193
my_legend             212
teamate_1_legend      222
teamate_2_legend      230
my_damage             215
teamate_1_damage      224
teamate_2_damage      229
my_kills              216
teamate_1_kills       221
teamate_2_kills       225
my_assists            218
teamate_1_assists     222
teamate_2_assists     226
my_knocks             218
teamate_1_knocks      221
teamate_2_knocks      226
my_revives            216
teamate_1_revives     222
teamate_2_revives     225
my_respawns           216
teamate_1_respawns    223
teamate_2_respawns    224
Unnamed: 34           499
Unnamed: 35           499
dtype: int64

In [21]:
df.drop(columns=['Unnamed: 34', 'Unnamed: 35'], inplace=True)

In [23]:
keep_cols = keep_cols = ['date', 'game', 'map', 'match_type', 'my_duration', 'rp_earned', 'premade_squad', 'voice_chat','squad_placed', 'teamate_count', 'my_quit', 'teamate_quit_count', 'my_damage', 'my_kills', 'my_assists', 'my_knocks', 'my_revives', 'my_respawns']
df[keep_cols].copy()

,date,game,map,match_type,my_duration,rp_earned,premade_squad,voice_chat,squad_placed,teamate_count,my_quit,teamate_quit_count,my_damage,my_kills,my_assists,my_knocks,my_revives,my_respawns
0,11/03/2022,1,broken moon,casual,846.0,0.0,no,yes,5.0,1.0,0.0,1.0,1268.0,5.0,0.0,5.0,1.0,1.0
1,11/03/2022,2,broken moon,casual,NaN,0.0,no,yes,12.0,2.0,0.0,0.0,178.0,0.0,0.0,0.0,0.0,0.0
2,11/03/2022,3,broken moon,casual,NaN,0.0,no,no,3.0,2.0,0.0,0.0,141.0,0.0,1.0,0.0,0.0,0.0
3,11/03/2022,4,broken moon,casual,NaN,0.0,no,no,4.0,2.0,0.0,0.0,497.0,0.0,1.0,0.0,0.0,0.0
4,11/03/2022,5,broken moon,casual,NaN,0.0,no,no,8.0,2.0,0.0,0.0,792.0,1.0,4.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,1/15/2023,495,broken moon,ranked,958.0,28.0,no,no,3.0,2.0,0.0,0.0,489.0,0.0,0.0,0.0,0.0,0.0
495,1/15/2023,496,broken moon,ranked,1300.0,112.0,no,no,2.0,2.0,0.0,0.0,1258.0,1.0,1.0,1.0,0.0,0.0
496,1/15/2023,497,broken moon,ranked,1022.0,125.0,no,no,3.0,2.0,0.0,0.0,1021.0,3.0,1.0,3.0,1.0,2.0
497,1/15/2023,498,broken moon,ranked,81.0,-55.0,no,no,18.0,2.0,0.0,0.0,61.0,0.0,0.0,0.0,0.0,0.0
498,1/15/2023,499,broken moon,ranked,1187.0,55.0,no,no,3.0,2.0,0.0,0.0,416.0,1.0,0.0,1.0,0.0,0.0

In [25]:
df['duration_missing'] = df['my_duration'].isnull().astype(int)
df['my_duration'] = df['my_duration'].fillna(0)

In [27]:
df.dropna(subset=['my_quit'])

,date,game,map,match_type,my_duration,my_rank,rp_earned,premade_squad,voice_chat,squad_placed,...,my_knocks,teamate_1_knocks,teamate_2_knocks,my_revives,teamate_1_revives,teamate_2_revives,my_respawns,teamate_1_respawns,teamate_2_respawns,duration_missing
0,11/03/2022,1,broken moon,casual,846.0,S3,0.0,no,yes,5.0,...,5.0,4.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0
1,11/03/2022,2,broken moon,casual,0.0,S3,0.0,no,yes,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,11/03/2022,3,broken moon,casual,0.0,S3,0.0,no,no,3.0,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,11/03/2022,4,broken moon,casual,0.0,S3,0.0,no,no,4.0,...,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,11/03/2022,5,broken moon,casual,0.0,S3,0.0,no,no,8.0,...,2.0,2.0,3.0,0.0,1.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,1/15/2023,495,broken moon,ranked,958.0,P1,28.0,no,no,3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
495,1/15/2023,496,broken moon,ranked,1300.0,P1,112.0,no,no,2.0,...,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0
496,1/15/2023,497,broken moon,ranked,1022.0,P1,125.0,no,no,3.0,...,3.0,0.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0
497,1/15/2023,498,broken moon,ranked,81.0,P1,-55.0,no,no,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
498,1/15/2023,499,broken moon,ranked,1187.0,P1,55.0,no,no,3.0,...,1.0,1.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,0

In [29]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [31]:
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [37]:
df.isnull().sum()

date                  0
game                  0
map                   0
match_type            0
my_duration           0
my_rank               0
rp_earned             0
premade_squad         0
voice_chat            0
squad_placed          0
teamate_count         0
my_quit               0
teamate_quit_count    0
my_legend             0
teamate_1_legend      0
teamate_2_legend      0
my_damage             0
teamate_1_damage      0
teamate_2_damage      0
my_kills              0
teamate_1_kills       0
teamate_2_kills       0
my_assists            0
teamate_1_assists     0
teamate_2_assists     0
my_knocks             0
teamate_1_knocks      0
teamate_2_knocks      0
my_revives            0
teamate_1_revives     0
teamate_2_revives     0
my_respawns           0
teamate_1_respawns    0
teamate_2_respawns    0
duration_missing      0
dtype: int64

In [47]:
df.describe(include=['object', 'category'])

,date,map,match_type,my_rank,premade_squad,voice_chat,my_legend,teamate_1_legend,teamate_2_legend
count,499,499,499,499,499,499,499,499,499
unique,32,4,4,11,2,2,19,27,27
top,1/13/2023,broken moon,ranked,P2,no,no,Vantage,Bangalore,Seer
freq,39,482,451,108,464,340,318,245,255

In [49]:
df.head()

,date,game,map,match_type,my_duration,my_rank,rp_earned,premade_squad,voice_chat,squad_placed,...,my_knocks,teamate_1_knocks,teamate_2_knocks,my_revives,teamate_1_revives,teamate_2_revives,my_respawns,teamate_1_respawns,teamate_2_respawns,duration_missing
0,11/03/2022,1,broken moon,casual,846.0,S3,0.0,no,yes,5.0,...,5.0,4.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0
1,11/03/2022,2,broken moon,casual,0.0,S3,0.0,no,yes,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,11/03/2022,3,broken moon,casual,0.0,S3,0.0,no,no,3.0,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,11/03/2022,4,broken moon,casual,0.0,S3,0.0,no,no,4.0,...,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,11/03/2022,5,broken moon,casual,0.0,S3,0.0,no,no,8.0,...,2.0,2.0,3.0,0.0,1.0,0.0,0.0,0.0,1.0,1

In [51]:
df.to_csv('ApexPlayerRetention_DataWrangling.csv', index=False)